*{
    margin: 0;
    padding: 0;
}
header{
    grid-area: header;
    background-color:rgb(161, 161, 228) ;
    color: white;
    text-align: center;
    padding: 10px;
}

.aside-bar{
    grid-area: aside-bar;
    background-color: rgb(225, 220, 220);
    min-height: 90vh;
    padding: 30px;
}

 .aside-bar ul{
    list-style: none;
}

 .grilla{
    grid-area: grilla;

}

.grilla .card{
    text-align: center;
    padding: 20px;


}

.grilla .card img{
    width: 200px;
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside-bar grilla"
    "footer footer";
    gap: 10px;

}